{% extends "base.html.twig" %}
{% import "security/recaptcha.html.twig" as formElements %}

{% block body %}


    {{ form_start(form) }}
    {{ form_row(form.username,{'label':'Nom d\'utilisateur','attr':{'class':'form-control'}}) }}
    {{ form_row(form.nom,{'attr':{'class':'form-control'}}) }}
    {{ form_row(form.adresse,{'attr':{'class':'form-control'}}) }}
    {{ form_row(form.ville,{'attr':{'class':'form-control'}}) }}
    {{ form_row(form.codePostal,{'attr':{'class':'form-control'}}) }}
    {{ form_row(form.email,{'label':'Adresse email','attr':{'class':'form-control'}}) }}
    {{ form_row(form.password,{'label':'Mot de passe','attr':{'class':'form-control'}}) }}
    {{ form_row(form.confirm_password,{'label':'Confirmation du mot de passe','attr':{'class':'form-control'}}) }}


    <!--  clée privée: 6Ldd4cEUAAAAADAGPTPXHdUszai86Z5pwpFuXtFM -->
    {% if app.user %}

        <button type="submit" class="btn btn-success">Modifier information</button>
    {% else %}
    {{ formElements.recaptcha("6Ldd4cEUAAAAADP8p17mGQ6UrhAD6ihgWRWwjETt") }}


    <button type="submit" class="btn btn-success">Valider inscription</button>


    {% endif %}
    {{form_end(form)}}

{% endblock %}