{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <table class="table table-bordered">
            <caption>Recapitulatifs des commentaire</caption>
            <thead>
            <tr><th>Utilisateur</th><th>Evenement</th><th>Contenue</th><<th>opération</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in commentaire %}
                <tr>
                    <td>{{comment.utilisateur.username}}</td>
                    <td>{{comment.evenement.nom}}</td>
                    <td>{{comment.contenu}}</td>
                    <td>
                        <form method="post" action="{{ path('Commentaire.delete', {id: comment.id}) }}">
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit" class="btn btn-primary m-1 p-1" value="supprimer">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}