{% extends "base.html.twig" %}
{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.username,{'label':'Nom d\'utilisateur','attr':{'class':'form-control'}}) }}
    {{ form_row(form.nom,{'attr':{'class':'form-control'}}) }}
    {{ form_row(form.adresse,{'attr':{'class':'form-control'}}) }}
    {{ form_row(form.ville,{'attr':{'class':'form-control'}}) }}
    {{ form_row(form.codePostal,{'attr':{'class':'form-control'}}) }}
    {{ form_row(form.email,{'label':'Adresse email','attr':{'class':'form-control'}}) }}
    {{ form_row(form.password,{'label':'Mot de passe','attr':{'class':'form-control'}}) }}
    {{ form_row(form.confirm_password,{'label':'Confirmation du mot de passe','attr':{'class':'form-control'}}) }}
    <button type="submit" class="btn btn-success">Modifier information</button>

    {{form_end(form)}}

{% endblock %}