{% extends "base.html.twig" %}

{% block body %}
    <form method="post" action="{{  path('user.inscription') }}">
        <input type="hidden" name="_method" value="post" >

        <input type="submit" class="btn btn-outline-success" value="Ajouter utilisateur">
    </form>
    <div class="row justify-content-start">

        <div class="col-5">
            <table class="table table-bordered">

                <thead>
                <tr style="background: #1c7430">
                    <th>Nom d'utilisateur</th>
                    <th>Email</th>
                    <th>Nom</th>
                    <th>Ville</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for users in user %}
                    <tr>
                        <th>{{users.username}}</th>
                        <th>{{users.email}}</th>
                        <th>{{users.nom}}</th>
                        <th>{{users.ville}}</th>
                        <th>
                            <form method="post" action="{{ path('user.edit',{id: users.id}) }}">
                                <input type="hidden" name="_method" value="put">
                                <input type="submit" class="btn btn-outline-success" value="Modifier">
                            </form>

                            <form method="post" action="{{ path('user.delete',{id: users.id}) }}">
                                <input type="hidden" name="_method" value="delete">
                                <input type="submit" class="btn btn-outline-success" value="Supprimer">
                            </form>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}