{% extends "base.html.twig" %}
{% block body %}
    Evènement

    {{ form_start(form) }}
    {#{{ form_errors(form) }}#}

    {{ form_row(form.nom,{'attr':{'class':'form-control'}}) }}
    {#{{ form_errors(form.nom) }}#}
    {{ form_row(form.prix,{'attr':{'class':'form-control'}}) }}
    {{ form_row(form.nombrePlaces,{'attr':{'class':'form-control'}}) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.disponible) }}
    {#{{ form_row(form.stock) }}#}
    {{ form_row(form.categorie) }}

    {{ form_row(form.submit, { 'label': 'Valider' }) }}
    {{ form_end(form) }}
{% endblock %}