{% extends "base.html.twig" %}
{% block body %}
    <style type="text/css">
        .cellule{
            background-color: #5eb5e0;
        }
    </style>
    <div class="row">
        <form method="post" action="{{ path('evenement.add') }}">
            <input type="hidden" name="_method" value="post">
            <input type="submit" class="btn btn-primary m-1 p-1" value="Ajouter événement">
        </form>


        <table class="table table-bordered">
            <caption>Recapitulatifs des evenements</caption>
            <thead>
            <tr><th>nom</th><th>id</th><th>categorie</th><th>prix</th><th>Quantite</th><th>Quantite acheter</th><th>nom photo</th><th>photo</th>
                <th>opération</th><th>commentaires</th>
            </tr>
            </thead>
            <tbody>
            {% for evenement in evenements %}

                <tr>
                    <td>{{evenement.nom}}</td>
                    <td>{{evenement.id}}</td>
                    <td>{{evenement.libelle  | default('pas de type')}}</td> <!-- evenement.categorie.libelle -->
                    <td>{{evenement.prix | default('gratuit (ou pas de prix)')}}</td>
                    {% if evenement.nombrePlaces > 5 %}
                        <td>{{ evenement.nombrePlaces }}</td>
                    {% else %}
                        <td class="cellule">{{ evenement.nombrePlaces }}</td>
                    {% endif %}
                    <td>{{ evenement.placeAchete | default('0')}}</td>
                    <td>{{evenement.photo}}</td>
                    <td>
                        <img style="width:40px;height:40px" src="{{asset('images/')}}{{evenement.photo}}" alt="image de {{evenement.nom}}" >
                    </td>
                    <td>
                        <form method="post" action="{{ path('evenement.edit', {id: evenement.id}) }}">
                            <input type="hidden" name="_method" value="put">
                            <input type="submit" class="btn btn-primary m-1 p-1" value="modifier">
                        </form>
                        <form method="post" action="{{ path('evenement.delete', {id: evenement.id}) }}">
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit" class="btn btn-primary m-1 p-1" value="supprimer">
                        </form>
                    </td>
                    <th>
                        <form action="{{ path('Commentaire.show',{id: evenement.id}) }}">
                            <input type="submit" value="voir les commentaires">
                        </form>
                    </th>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}