{% extends "base.html.twig" %}

{% block body %}

    <h1> Commentaires et notes : {{event.nom}}</h1>
    <div class="row justify-content-start">
        <div class="col-3">
            <table class="table table-bordered">

                 <thead>
                 <tr style="background: #1c7430">
                    <td>Auteur</td>
                    <td>Note</td>
                    <td>Commentaire</td>
                 </tr>
                 </thead>
                 <tbody>
                 {% for commentaire in commentaires %}
                   <tr style="background: #747174">
                       <td><h5>{{ commentaire.utilisateur.username }}</h5></td>
                       <td>{{ commentaire.note }}/5</td>
                       <td>{{commentaire.contenu}}</td>
                    </tr>
                 {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    {% if form is defined %}
        Ajouter un commentaire :
        <div>
            {{ form_start(form) }}
            {#{{ form_errors(form) }}#}
            <div>
                {{ form_row(form.note) }}
                {{ form_errors(form.note) }}
            </div>
            <div>
                {{ form_row(form.contenu) }}
                {{ form_row(form.contenu) }}
                {{ form_errors(form.contenu) }}
            </div>
            {{ form_row(form.submit, { 'label': 'Valider' }) }}
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}