{% extends "base.html.twig" %}

{% block body %}

    <h1> Projet 2 web : site de vente Espace client </h1>

    <div class="row justify-content-start">
        <div class="tableaux">
            <div class="col-7" style="right: 110px">
                les évènements + liens
                <table class="table table-bordered">
                    <caption>Evènements</caption>
                    <thead>
                    <tr style="background: #1c7430"><th>nom</th><th>désignation</th><th>places restantes</th><th>Catégorie</th><th>prix</th><th>photo</th><th>Commentaires</th><th>Ajouter</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for event in events  %}
                            <tr>
                                <th>{{event.nom}}</th>
                                <th>{{event.description}}</th>
                                {% if event.nombrePlaces >10 %}
                                    <th>Disponible</th>
                                {% else %}
                                    <th>{{event.nombrePlaces}}</th>
                                {% endif %}
                                <th>{{event.categorie.libelle}}</th>
                                <th>{{event.prix}}</th>
                                <th><img style="width:40px;height:40px" src="{{asset('images/')}}{{event.photo}}" alt="image de {{event.nom}}" ></th>
                                <th>{{event.photo}}</th>
                                <th>
                                    <form action="{{ path('Commentaire.show',{id: event.id}) }}">
                                        <input type="submit" value="voir les commentaires">
                                    </form>
                                </th>
                                {% if event.nombrePlaces > 0 %}
                                    <th>
                                        <form method="post" action="{{ path('Panier.add', {'id':event.id}) }}">
                                            <input type="hidden" name="_method" value="post">
                                            <input type="submit" class="btn btn-success" value="Ajouter événement">
                                        </form>
                                    </th>


                                {% else %}
                                    <th><p>Victime de son succès</p></th>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="tableaux">
            <div class="col-5">
                le panier +liens
                <table class="table table-bordered">
                    <caption>Panier</caption>
                    <thead>
                    <tr style="background: #1c7430"><th>Nom de l'évènement</th><th>nombre de place</th><th>prix</th><th>prix total</th><th>supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for row in panier %}
                            <tr>
                               <th>{{row.evenement.nom}}</th>
                                <th>{{row.quantite}}
                                    <form method="post" action="{{ path('ajoute_quantite', {'id':row.evenement.id}) }}">
                                        <input type="hidden" name="_method" value="put">
                                        <input type="submit" class="btn btn-sm" value="+">
                                    </form>
                                    <form method="post" action="{{ path('soustrait_quantite', {'id':row.evenement.id}) }}">
                                        <input type="hidden" name="_method" value="put">
                                        <input type="submit" class="btn btn-sm" value="-">
                                    </form>

                                </th>
                                <th>{{row.evenement.prix | default("0.00")}}</th>
                                <th>{{row.quantite * row.evenement.prix}}</th>
                               <th>
                                   <form method="post" action="{{ path('Panier.delete', {'id':row.id}) }}">
                                       <input type="hidden" name="_method" value="delete">
                                       <input type="submit" class="btn btn-success" value="supprimer">
                                   </form>
                               </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form method="post" action="{{path('Panier.requestValidCommand')}}">
                    <input type="hidden" name="_method" value="post">
                    <input type="submit" class="btn btn-success" value="Valider la commande">
                </form>
            </div>
        </div>


    </div>

{% endblock %}