{% extends "base.html.twig" %}

{% block body %}

    <h1> Projet 2 web : site de vente Espace client </h1>
    <p>Récapitulatif de votre panier</p>
    <div class="row justify-content-start">
        <div class="col-5">
            <table class="table table-bordered">
                <caption>Panier</caption>
                <a class="btn btn-success" href="{{  path('Panier.show') }}">Modifier ma commande commande</a>
                <thead>
                <tr style="background: #1c7430"><th>Nom de l'évènement</th><th>nombre de place</th><th>prix</th><th>prix total</th><th>supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for row in panier %}
                    <tr>
                        <th>{{row.evenement.nom}}</th>
                        <th>{{row.quantite}}</th>
                        <th>{{row.evenement.prix | default("0.00")}}</th>
                        <th>{{row.quantite * row.evenement.prix}}</th>
                        <th>
                            <form method="post" action="{{ path('Panier.delete', {'id':row.id}) }}">
                                <input type="hidden" name="_method" value="delete">
                                <input type="submit" class="btn btn-success" value="supprimer">
                            </form>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <form method="post" action="{{path('Panier.validCommand')}}">
                <input type="hidden" name="_method" value="post">
                <input type="submit" class="btn btn-success" value="Payer et commander">
            </form>




        </div>
    </div>

{% endblock %}