{% extends "base.html.twig" %}

{% block body %}
    <table class="table table-bordered">
        <caption>Panier</caption>
        <thead>
        <tr style="background: #1c7430"><th>Nom de l'évènement</th><th>nombre de place</th><th>prix</th><th>prix total</th><th>commentaires</th>
        </tr>
        </thead>
        <tbody>
        {% for row in places %}
            <tr>
                <th>{{row.evenement.nom}}</th>
                <th>{{row.quantite}}</th>
                <th>{{row.evenement.prix | default("0.00")}}</th>
                <th>{{row.quantite * row.evenement.prix}}</th>
                <th>
                    <form action="{{ path('Commentaire.show',{id: row.evenement.id}) }}">
                        <input type="submit" value="voir les commentaires">
                    </form>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}