{% extends "base.html.twig" %}

{% block body %}

    <h1>Commandes déjà réalisées</h1><br><br>
    <div class="row justify-content-start">
    <div class="col-7" style="right: 110px">
    <table class="table table-bordered">
        <thead>
        <tr style="background: #1c7430"><th>date de la commande</th><th>état</th><th>prix total</th><th>détails</th>
        </tr>
        </thead>
        <tbody>
        {% set i =0  %}
        {% for command in commands  %}
            <tr>
                <th>{{command.date|date('d/m/Y')}}</th>
                <th>{{command.etat.nom}}</th>
                <th>
                    {{ prixTotal[i] }}€
                </th>
                <th>
                    <form method="get" action="{{ path('Command.showDetails', {id: command.id}) }}">
                        <input type="submit" value="Voir les details de la commande">
                    </form>
                </th>
            </tr>
            {% set i = i+1 %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}