{# base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}projet 2{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset("style.css") }}" />
    {% endblock %}
</head>

<body>
{% if is_granted('ROLE_ADMIN') %}
    {% include "nav_backOff.html.twig" %}
{% elseif  is_granted('ROLE_CLIENT') %}
    {% include "nav_frontOff.html.twig" %}
{% else %}
    {% include "nav_home.html.twig" %}
{% endif%}

<div class="container">
    {% for message in app.flashes('notice') %}
        <div class="flash-notice fl">
            {{ message }}
        </div>
    {% endfor %}
    {% block body %}Site de vente projet S3 web IUT

    {% endblock %}

</div><!-- /.container -->

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>