{#https://getbootstrap.com/docs/4.0/components/navbar/#}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TP web <span style="color:#ff0000;">  Menu accueil(etu) </span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="DropdownCommandes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Produits
                </a>
                <div class="dropdown-menu" aria-labelledby="DropdownCommandes">
                    <a class="dropdown-item" href="">Afficher les produits</a>
                </div>
            </li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
            <!-- Authentication Links -->
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <span class="navbar-text">
                    Bonjour {{ app.user.username }}
                    {% if is_granted('ROLE_ADMIN') %} (role : Admin )
                    {% elseif is_granted('ROLE_CLIENT') %} (role : Client ) {% endif %}
            </span>
                <a class="btn btn-outline-success" type="button" href="{{path('logout') }}">
                    Se déconnecter
                </a>

            {% else %}

                <a class="btn btn-outline-success" type="button" href="{{path('login') }}">Se connecter</a>

                <form method="post" action="{{  path('user_registration') }}">
                    <input type="hidden" name="_method" value="post">
                    <input type="submit"  class="btn btn-outline-success" value="s'inscrire">
                </form>

                <a class="btn btn-outline-success" type="button" href="{{path('request_resetting') }}">
                    mot de passe oublié
                </a>
            {% endif %}

        </ul>
    </div>
</nav>
