{% extends "base.html.twig" %}

{% block body %}

    <div class="row justify-content-start">
    <div class="col-7" style="right: 110px">
    <table class="table table-bordered">
        <thead>
        <tr style="background: #1c7430"><th>date de la commande</th><th>Prix de la commande</th><th>état</th><th>Détail de la commande</th>
        </tr>
        </thead>
        <tbody>
        {% set i =0  %}
        {% for command in commands  %}
            <tr>
                <th>{{command.date|date('d/m/Y')}}</th>
                <th>
                    {{ prixTotal[i] }}€
                </th>
                <th>
                    {{command.etat.nom}}
                    {%  if command.etat.nom =="A préparer" %}
                        <form method="post" action="{{ path('gestion.commande.expedie', {'id':command.id}) }}">
                            <input type="hidden" name="_method" value="put">
                            <input type="submit" class="btn btn-sm" value="Expédier">
                        </form>
                    {% endif %}
                </th>
                <th>
                    <form action="{{ path('Commande.showDetail', {id: command.id})}}">
                        <input type="submit" value="Voir les details de la commande">
                    </form>
                </th>

            </tr>
            {% set i = i+1 %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}