{% extends "base.html.twig" %}
{% block body %}
    Catégorie

    {{ form_start(form) }}

    {{ form_row(form.libelle,{'attr':{'class':'form-control'}}) }}

    {{ form_row(form.submit, { 'label': 'Valider' }) }}
    {{ form_end(form) }}
{% endblock %}