{% extends "base.html.twig" %}

{% block body %}
    <form method="post" action="{{ path('categorie.add') }}">
        <input type="hidden" name="_method" value="post">
        <input type="submit" class="btn btn-primary m-1 p-1" value="Ajouter catégorie">
    </form>

    <div class="row justify-content-start">
        <div class="col-5">
            <table class="table table-bordered">

                <thead>
                <tr style="background: #1c7430">
                    <td>Identifiant</td>
                    <td>Catégorie</td>
                    <td>opération</td>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.id }}</td>
                        <td>{{event.libelle}}</td>
                        <td>
                            <form method="post" action="{{ path('categorie.edit', {id: event.id}) }}">
                                <input type="hidden" name="_method" value="put">
                                <input type="submit" class="btn btn-primary m-1 p-1" value="modifier">
                            </form>
                            <form method="post" action="{{ path('categorie.delete', {id: event.id}) }}">
                                <input type="hidden" name="_method" value="delete">
                                <input type="submit" class="btn btn-primary m-1 p-1" value="supprimer">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}