{% extends "base.html.twig" %}

{% block body %}
    <div class="row justify-content-start">
        <div class="col-5">
            <table class="table table-bordered">

                <thead>
                <tr style="background: #1c7430">
                    <th>Catégorie</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Description</th>
                    <th>Photo</th>
                    <th>Disponible</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <th>{{event.libelle}}</th>
                        <th>{{event.nom}}</th>
                        <th>{{event.prix}}</th>
                        <th>{{event.description}}</th>
                        <th>
                            <img style="width:40px;height:40px" src="{{asset('images/')}}{{event.photo}}" alt="image de {{event.nom}}" >
                        </th>

                        <th>{{event.nombrePlaces}}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}